{{#*inline "head"}}
<script>
  function unpausePoster(button) {
    const $poster = $(button).closest(".poster");
    const poster = $poster.data();
      $.ajax(`/posters/${poster.id}`, {
        data: JSON.stringify({stopped: !poster.stopped}),
        dataType: 'json',
        contentType: 'application/json',
        type : 'PUT',
      }).done(poster => {
        updatePoster(poster, $poster);
      }).fail(() => {
        alert("error");
      });
  }

  function updatePoster(p, $p) {
    $p.data(p)
    $p.find(".poster-id").text("" + p.id);
    $p.find(".poster-url").attr({
      href: p.url
    });
    const status = p.lockout ? "Locked" : p.stopped ? "Stopped" : "Serving";
    $p.find(".poster-status").text(status);
    $p.find(".poster-pause")
      .text(p.stopped ? "Serve" : "Pause")
      .removeClass("btn-primary btn-secondary")
      .addClass(p.stopped ? "btn-primary" : "btn-secondary");
    const del = $p.find(".poster-delete");
  };

  function deletePoster(button) {
    const $poster = $(button).closest(".poster");
    const poster = $poster.data();
      $.ajax(`/posters/${poster.id}`, {
        dataType: 'json',
        type : 'DELETE',
      }).done(poster => {
        $poster.remove();
      }).fail(() => {
        alert("error");
      });
  }

  $(document).ready(() => {
    const $row_template = $("#poster-row-template").contents();
    const $poster_container = $("#poster-container");

    const sortPosters = () => {
      $poster_container.sort((a, b) => {
        const ai = $(a).data("id");
        const bi = $(b).data("id");
        return (ai < bi) ? -1 : (ai > bi) ? 1 : 0;
      });
    };

    const removeUnknownPosters = (knownPosters) => {
      $(".poster").each((_, post) => {
        const $post = $(post);
        if (!knownPosters.find(item => item.id == $post.data("id"))) {
          $post.remove();
        }
      });
    };

    const rebuildPosters = (posters) => {
      appendPosters(posters);
      removeUnknownPosters(posters);
    };

    const appendPosters = (posters) => {
      for (poster of posters) {
        var $p = $("#poster-" + poster.id);
        if (!$p.length) {
          $p = $row_template.clone();
          $p.attr({
            id: "poster-" + poster.id
          });
          $p.appendTo($poster_container)
        }
        console.log($p)
        updatePoster(poster, $p);
      }
      sortPosters();
    }

    $.getJSON("/posters", (posters) => {
      rebuildPosters(posters);
    });

    $("#add-poster").click(() => {
      $.ajax("/posters", {
        data: JSON.stringify({url: $("#poster-to-add").val()}),
        dataType: 'json',
        contentType: 'application/json',
        type : 'POST',
      }).done(data => {
        appendPosters([data]);
      }).fail(() => {
        alert("error");
      });
    });
  })
</script>
{{/inline}}

{{#> base title="Posters"}}
  <div class="col-8">
    {{#> card title="Configure"}}
      Configure your posters here.
      <table class="table">
        <template id="poster-row-template">
          <tr class="poster">
            <th class="poster-id" scope="col">TEMP_ID</th>
            <td><a role="button" class="btn btn-link poster-url" href="TEMP_LINK">link</a></td>
            <td class="poster-status">TEMP_STATUS</td>
            <td><button class="poster-pause btn btn-primary" onclick="unpausePoster(this)">TEMP_SUBMIT_BUTTON</button></td>
            <td><button class="poster-delete btn btn-outline-danger" onclick="deletePoster(this)">Delete</button></td>
          </tr>
        </template>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2"></th>
          </tr>
        </thead>
        <tbody id="poster-container">
          {{!--{{#each posters}}
          <tr class="
              {{#if lockout}}
              table-danger
              {{else if stopped}}
              table-success
              {{else}}
              table-secondary
              {{/if}}
              "
            >
            <th scope="col">{{id}}</th>
            <td><a href="{{url}}">link</a></td>
            <td>
              {{#if lockout}}Restricted
              {{else if stopped}}Paused
              {{else}}Serving
              {{/if}}
            </td>
            <td>
              <form>
                <input type="hidden" name="stopped" value="{{#if stopped}}false{{else}}true{{/if}}"/>
                <button
                  class="btn {{#if stopped}}btn-secondary{{else}}btn-primary{{/if}}"
                  {{#if lockout}}disabled{{/if}}>
                  {{#if stopped}}Serve{{else}}Pause{{/if}}
                </button>
              </form>
            </td>
            <td>
              <button class="btn btn-outline-danger" {{#if lockout}}disabled{{/if}}>Delete</button>
            </td>
          </tr>
          {{/each}}--}}
        </tbody>
      </table>
      <div class="input-group mb-3">
        <input type="text" name="url" class="form-control" placeholder="https://example.com/image.png" aria-label="Poster URL" id="poster-to-add">
        <button class="btn btn-primary" id="add-poster">Add Poster</button>
      </div>
    {{/card}}
  </div>
{{/base}}